
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{ /*Aqui criamos variáveis que poderão ser utilizada até o fim*/
    --cor0:rgb(247, 245, 245);
    --cor1:rgb(204, 203, 203);
    --cor2:rgb(147, 146, 146);
    --cor3:rgb(118, 118, 118);
    --cor4:rgb(81, 81, 81);
    --cor5:rgb(14, 13, 13);
    --font0: arial,'Bebas Neue', cursive;
    --font1:'Bebas Neue';
}
header{
    padding: 20px;/*Utilizando isso dá uma expansão a mais da box*/
    border-radius: 10px;/*Utilizado para aumentar a borda em 10px*/
    background-color: var(--cor1);
    margin: 2px; /*Utilizado para retrair em 2px a margem para dentro*/
}
nav{
    background-color: var(--cor3);
}
nav > a {
    padding: 10px;
    text-decoration: none;/*Utilizando isso eu retiro a decoração ou seja o sublinhado que fica em cada link*/
    font-weight: bold; /*Bold é negrito*/
}
nav > a:hover{ /* Utilizamos para dar o efeito quando selecionarmos o menu */
    background-color: white;
    transition-duration: .9s;
}
.titulo{
    width: 100%;
    margin: 10px;  
    text-align: center;
    text-shadow: 5px 5px 7px rgb(110, 108, 108);
}
    
main{

    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cor1);
    box-shadow: 0px 0px 10px rgb(86, 74, 74);
}
.video-p{
    text-align: center;
    position:absolute;
}
footer{
    text-align: center; 
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
    background-color: var(--cor4);

}
.linha{
    width: 100%;
    display: flex;
}
.coluna{
    width: 50%;
    height: 20%;
}
body{
    height: auto;
    background-color: var(--cor4);
}

h1{
    background-color: var(--cor2);
    border-radius: 10px;
    text-align: center;
    text-justify: auto;
    background-image: linear-gradient(to left, var(--cor1), transparent);/*Isso seria para dar um degradê, mas não funciona pois está dentro de outro comando*/
 }
 h2{
     border-radius: 10px;
     background-color: var(--cor3);
     text-align: center;
 }
 h3{
     text-align: center;
 }
 ol{
     columns: 2;
 }
 .filho-p > p{
     font-size: large;/*Utilizado para deixar a font maior*/
     margin:  15px 0px;/*Utilizamos para dar uma margem cima/direita/baixo/esquerda, isso pq repetimos o valor no espaçamento.*/
     text-align: justify;
     text-indent: 30px; /*Utilizamos para identação o que sujere o início de um parágrafo*/
     line-height: 2em; /*Utilizado para separar linha de linha*/
 }
 .pai-p{
     width: 100%;
     display: flex;
     justify-content: center;
 }
 .filho-p{
     width: 75%;
 }
img{
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}